/*paleta de colores*/
/*generalmente para que se a mas facil cambiar la gama de colores*/
:root{
    --color-fondoOscuro:rgb(0, 0, 0);
    --color-fondoClaro:rgb(31, 36, 36);


    --color-textoOscuro:rgb(0, 0, 0);
    --color-textoClaro:rgb(255, 255, 255);

}


body {
    background-color : var(--color-fondoClaro);
    color: var(--color-textoClaro);
    margin: 0px;
}

/*Barra de navegaciones*/

nav {
    padding: 10px;
}
nav ol {
        display: block;
        text-align: center;
        background-color: var(--color-fondoOscuro);
        list-style: none;
        padding: 4px;
        border-radius: 4px;
    }

    nav ol li {
        padding: 4px;
        display: inline-flex;
        flex-direction: column;
    }
    nav ol li a {
        margin: 0;
        padding: 0;
        color: var(--color-textoClaro);
        text-decoration: none;
    }

  
/*footer*/

footer {
    background-color: var(--color-fondoOscuro);
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}
    footer ol {
        padding: 0px;
        list-style: none;
        display: flex;
        justify-content: center;

    }
    footer ol li a {
        margin: 0px;
        padding: 10px;
        text-decoration: none;
        color: var(--color-textoClaro);
    }

    