/*paleta de colores*/
/*generalmente para que se a mas facil cambiar la gama de colores*/
:root{
    --color-fondoOscuro:rgb(15, 15, 15);
    --color-fondoMedio:rgb(38, 37, 37);
    --color-fondoClaro:rgb(108, 108, 108);


    --color-textoOscuro:rgb(0, 0, 0);
    --color-textoMedio:rgb(255, 255, 255);
    --color-textoClaro:rgb(255, 255, 255);

}


body {
    background-color : var(--color-fondoClaro);
    color: var(--color-textoClaro);
    margin: 0px;
}

/*Barra de navegaciones*/
nav {
    background-color: var(--color-fondoMedio);
    margin: 0px;
    padding: 0px;
}

.cabezera {
    background-color: var(--color-fondoOscuro);
    border-radius: 0px 0px 10px 10px;
    display: block;
}

    #tituloLogin {
        display: flex;
        margin: 0px;
        padding: 10px;
    }
        .titulo {
            width: 20%;
            margin: 0px;
            padding: 10px;
            text-align: start;
        }

        .login{
            width: 80%;
            display: block;
            margin: 0px;
            padding: 10px;
            text-align: end;
        }
        .login a {
            padding: 10px;
            text-decoration: none;
            color: var(--color-textoClaro);
        }

.anuncio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 0px;
    padding: 0px;
}

    .anuncio img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .menu ol {
            display: flex;
            text-align: justify;
            list-style: none;
            padding: 4px;
            border-radius: 4px;
            width: 100%;
        }

        .menu ol li {
            padding: 4px;
            display: inline-flex;
            flex-direction: column;
        }
        .menu ol li a {
            margin: 0;
            padding: 0;
            color: var(--color-textoClaro);
            text-decoration: none;
        }

  
/*footer*/

footer {
    background-color: var(--color-fondoOscuro);
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}
    footer ol {
        padding: 0px;
        list-style: none;
        display: flex;
        justify-content: center;

    }
    footer ol li a {
        margin: 0px;
        padding: 10px;
        text-decoration: none;
        color: var(--color-textoClaro);
    }

/*contenido*/

/*productos*/

.productos {
    background-color: var(--color-fondoOscuro);
    display: block;
    flex-direction: column;

}
    .productos h2 {
        margin: 0px;
    }
    .productos ol {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .productos ol li {
        list-style: none;
        justify-content: center;
        margin: 10px;
    }
    
    .productos ol li a img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

/*ubicación*/
    .ubicacion {
        background-color: var(--color-fondoClaro);
        padding: 10px;
        border-radius: 10px;
    }
        .ubicacion h2 {
            margin: 0px;
        }
        .ubicacion p {
            margin: 0px;
        }
    #mapa {
        margin: 20px 0px 0px 0px;
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 70%;
        border: none;
    }

/*registro*/
.registro{
    display: flex;
    justify-content: center;
}
    .registroForm {
        background-color: var(--color-fondoOscuro);
        display: block;
        flex-direction: column;
        padding: 10px;
        margin: 20px;
        width: 600px;
        border-radius: 10px;
    }
        .registroForm h2 {
            margin: 0px;
        }
        .registroForm form {
            display: block;
            flex-direction: column;
            padding: 10px;
        }
            .registroForm form label {
                display: block;
                margin: 10px 0px 5px 0px;
            }
            .registroForm form input {
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
                border: none;
                border-radius: 4px;
            }