<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='styles/styles.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="cabezera">
            <div id="tituloLogin"">
                <div class="titulo">
                    Tienda Online HUB
                </div>
                <div class="login">
                    <a href="{{ url_for('login') }}">Iniciar sesión</a>
                    <a href="{{ url_for('registro') }}">Registrarse</a>
                </div>
            </div>
        </div>
        <div class="menu">
            <ol>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="ofertas">Ofertas</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="contactos">Contactos</a></li>
                <li><a href="ayuda">Ayuda</a></li>
            </ol>   
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer>  
        <ol>
            <li><a href="contactos">CONTACTANOS</a></li>
            <li><a href="tienda">TIENDA</a></li>
            <li><a href="redesSociales">REDES SOCIALES</a></li>
        </ol>
    </footer>

</body>
</html>