{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}


<section>
    <div class="ofertas">
        <h2>Ofertas del día</h2>
        <div class="ofertas_grid">
            <div id="op" class="oferta_principal">
                <h1>Lenovo Thinkpad</h1>
                <p>Computadora portátil de alto rendimiento</p>
            </div>
            <div id="os" class="oferta_principal">
                <h1>Oferta especial 40% descuento</h1>
                <p>Computadora portátil de alto rendimiento</p>
            </div>
        </div>
    </div>

    <div class="productos">
        <h2>Popular</h2>
        <div id="productos_grid">
            <div class="cuadro_del_producto">
                <div class="imagen_del_producto">
                    <a href=""><img src="{{url_for('static', filename='images/productos/samsung_book.jpg')}}" alt=""></a>
                </div>
                <div class="descripcion_del_producto">
                    <p>SAMSUNG BOOK</p>
                    <p>$999.99</p>
                    <div class="ver_comprar">
                        <a class="ver" href="">ver</a>
                        <a class="comprar" href="">comprar</a>
                    </div>
                </div>
            </div>
            <div class="cuadro_del_producto">
                <div class="imagen_del_producto">
                    <a href=""><img src="{{url_for('static', filename='images/productos/AsusZenBook.JPG')}}" alt=""></a>
                </div>
                <div class="descripcion_del_producto">
                    <p>AZUS ZENBOOK</p>
                    <p>$999.99</p>
                    <div class="ver_comprar">
                        <a class="ver" href="">ver</a>
                        <a class="comprar" href="">comprar</a>
                    </div>
                </div>
            </div>
            <div class="cuadro_del_producto">
                <div class="imagen_del_producto">
                    <a href=""><img src="{{url_for('static', filename='images/productos/macbook.jpg')}}" alt=""></a>
                </div>
                <div class="descripcion_del_producto">
                    <p>MAC BOOK</p>
                    <p>$999.99</p>
                    <div class="ver_comprar">
                        <a class="ver" href="">ver</a>
                        <a class="comprar" href="">comprar</a>
                    </div>
                </div>
            </div>
            <div class="cuadro_del_producto">
                <div class="imagen_del_producto">
                    <a href=""><img src="{{url_for('static', filename='images/productos/teclado_gamer.jpeg')}}" alt=""></a>
                </div>
                <div class="descripcion_del_producto">
                    <p>Teclado Gamer</p>
                    <p>$999.99</p>
                    <div class="ver_comprar">
                        <a class="ver" href="">ver</a>
                        <a class="comprar" href="">comprar</a>
                    </div>
                </div>
            </div>
            <div class="cuadro_del_producto">
                <div class="imagen_del_producto">
                    <a href=""><img src="{{url_for('static', filename='images/productos/audifono_gamer.jpg')}}" alt=""></a>
                </div>
                <div class="descripcion_del_producto">
                    <p>AURICULARES</p>
                    <p>$999.99</p>
                    <div class="ver_comprar">
                        <a class="ver" href="">ver</a>
                        <a class="comprar" href="">comprar</a>
                    </div>
                </div>
            </div>
            <div class="cuadro_del_producto">
                <div class="imagen_del_producto">
                    <a href=""><img src="{{url_for('static', filename='images/productos/tecladopad.jpeg')}}" alt=""></a>
                </div>
                <div class="descripcion_del_producto">
                    <p>TECLADOS</p>
                    <p>$999.99</p>
                    <div class="ver_comprar">
                        <a class="ver" href="">ver</a>
                        <a class="comprar" href="">comprar</a>
                    </div>
                </div>
            </div>


</section>

<section>    
    <div class="ubicacion">
        <h2>Ubicacion</h2>
        <div id="map"></div>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <script src="{{ url_for( 'static', filename='js/map.js') }}"></script>
    
    </div>
</section>


{% endblock %}
