{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}
    <section>
        <div class="registro">
            <div class="carta">
                <div class="cart_perfil">
                    <img src="{{ url_for('static', filename='images/facha.jpg') }}" alt="Imagen de registro">
                </div>
                <div class="cart_datos">
                    <h2 id="cart_nombre">NOMRE</h2>
                    <h2 id="cart_apellido">APELLIDO</h2>
                    <h2 id="cart_dni">DNI</h2>
                </div>
            </div>
        </div>

        <div class="cuadro_formulario">
            <div class="registroForm">
                <h2 id="titulo_registro">Registro de usuario</h2>
                <form action="http://localhost:5001/api/registrar" method="POST">
    
                    <label for="nombre">Nombre(s):</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Escribe tu nombre" required>
    
                    <label for="apellido">Apellido(s):</label>
                    <input type="text" id="apellido" name="apellido" placeholder="Escribe tus apellidos" required>
                    
                    <label for="dni">DNI:</label>
                    <input type="text" id="dni" name="dni" placeholder="Escribe tu número de DNI" required>                    
    
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Escribe tu email" required>
    
                    <button id="registrarse_btn" type="submit">Registrarse</button>
                    <a class="cancelar" href="{{ url_for('home') }}">cancelar</a>
                </form>
            </div>
        </div>
        <div id="caja">
            <p>hola</p>
        </div>
    </section>
{% endblock %}